body {
  background-image: url("images/authorsBG(2).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Anton', sans-serif;
  color: #fcc979;
  font-size: 31px;
  font-weight: 790;
  line-height: 0.45;
}

#returnBtn {
  color: #fcc979;
  text-decoration: none;
  padding: 0;
  position: fixed; 
  top: 85%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
}

.progBai {
  margin: 233px 50px 0 295px;
  padding: 0;
  cursor: pointer;
}


.researchBai {
  margin: 72px 50px 0 295px;
  padding: 0;
  cursor: pointer;
}


/* HOVER  */
#returnBtn:hover {
  transition-duration: 0.5s;
  font-size: 35px;
}

#returnBtn:not(:hover) {
  transition: color 1.5s, font-size 1.5s ease;
}

.sigma:hover,.silvis3:hover,.berm:hover,
.gojo:hover,.bogli:hover,.cinema:hover {
  color: #723b20;
  transition-duration: 0.5s;
}

.berm:not(:hover),.silvis3:not(:hover),.sigma:not(:hover),
.gojo:not(:hover),.bogli:not(:hover),.cinema:not(:hover) {
  transition: color 1.5s ease;
}
